body.dark {
    --color-bg: #111827;
    --color-text: #f3f4f6;
    --color-heading: #e5e7eb;
    --color-sub-heading: #4b5563;
    --color-link: #60a5fa;
    --color-icon: #f9fafb;
    --box-shadow: 0 10px 15px -3px rgba(15, 23, 42, 0.7)
}