:root {
    --color-bg: #ffffff;
    --color-text: #1f2937;
    --color-heading: #111827;
    --color-sub-heading: #4b5563;
    --color-link: #2563eb;
    --color-icon: #1e293b;
    --box-shadow: 0 10px 15px -3px rgba(100, 116, 139, 0.3)
}