@import 'mixins';

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.page {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    max-width: 1240px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--color-heading);
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;

    @include respond-to(large_desktop) {
        font-size: 2rem;
    }
}

a {
    color: var(--color-link);
}