// Couleurs
$gradient-colors: linear-gradient(to right, #0ea5e9, #8b5cf6, #ec4899);
$bg-gradient: linear-gradient(to right, #0ea5e9, #8b5cf6, #ec4899);
$color-active: #2563eb;

// Espacements
$space-sm: 0.5rem;
$space-md: 1.25rem;
$space-lg: 2.5rem;

// Taille des icones
$icon-size: 30px;